{% extends "base.html" %}
{% block title%}
Programmes
{% endblock %}

{% block content %}

      <div class="col s12 m8 l8"> <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
		<h3>Academic Programmes</h3>
		</br>
		</br>
		<h6> Department of CSE IIT BHU offers various courses on  B. Tech., B. Tech. Dual Degree, M. Tech., M. Tech. Dual Degree and Ph. D. programmes in Computer Science.</br></h6>
		<h5><b>Undergraduate Programme (B. Tech)</b></br></h5>
		<h6>    The B. Tech Programme at the Department of CSE, IIT Varanasi, follows a new and flexible curriculum since ****.</br>
        	The curriculum covers the theoretical underpinnings of computer science as well as a range of essential topics in computer</br>
			systems. It also includes various institute level engineering and science courses, and topics in humanities and social sciences.
			<a href="proj2.html">Semester wise course structure </a></br></h6>

		<h5><b>Dual-degree Programme (B. Tech + M. Tech)</b></br></h5>
		<h6>    The B. Tech Programme at the Department of CSE, IIT Varanasi, follows a new and flexible curriculum since ****.</br>
        	The curriculum covers the theoretical underpinnings of computer science as well as a range of essential topics in computer</br>
			systems. It also includes various institute level engineering and science courses, and topics in humanities and social sciences.</br></h6>
		<h5><b>Dual-degree Postgraduate Programme (M. Tech. + Ph.D.)</b></br></h5>
		<h6>    The B. Tech Programme at the Department of CSE, IIT Varanasi, follows a new and flexible curriculum since ****.</br>
        	The curriculum covers the theoretical underpinnings of computer science as well as a range of essential topics in computer</br>
			systems. It also includes various institute level engineering and science courses, and topics in humanities and social sciences.</br></h6>
	    <h5><b>Postgraduate Programme (Ph. D.)</b></br></h5>
		<h6>    The B. Tech Programme at the Department of CSE, IIT Varanasi, follows a new and flexible curriculum since ****.</br>
        	The curriculum covers the theoretical underpinnings of computer science as well as a range of essential topics in computer</br>
			systems. It also includes various institute level engineering and science courses, and topics in humanities and social sciences.</br></h6>
		<h5><b>Research focus :</b></br></h5>
		<h6>    IIT BHU focus on following research areas </br>
		   Artificial Intelligence, Neuro Computing, Parallel Processing , Software Engineering, Image Processing and Computer Vision,</br>
		    Medical Image Processing, Pattern Recognition, Datamining and Webmining, Biometrics and semantic web</h6>
      </div>

    </div>
    {% endblock %}
      
        
     