<!DOCTYPE html>
<html>
<head>
<title>welcome page</title>
</head>
<body>
<p bgcolor="FFF">
<h1 bgcolor="red">welcome pritesh to hhtml </h1>
<br/>
<h2>hi hey youtube its pritesh </h2>
<table><caption>yo</caption>
<tr><td>11</td><td>12</td></tr>
<tr><td>21</td><td>22</td></tr>
</table background-color="red" background="20160102_204738.JPG">
<form action="html2.html" method="post">
<input type="text" size="100" value="on" >math
<input type="password" >pssword</br>
<br/>
<select name="dropdown">
<option  value="maths">maths</option>
</br>
<option value ="physics"> physics </option> </form>
 

<p>my nME IA Pritesh and i am studying at iit bhu</p>
<hr/>
<div id="position" align="left" bgcolor="r">
<h5>Content Articles</h5>
<p>Actual content goes here.....</p>
<a href="https://www.google.co.in/" target="_self">google</a>
<img src="20160102_204738.JPG" alt="pritsh image" width="500pi" border="2"/>
</div>
<h3 title="stRK" >my name is pritesh </h3>
<center><p>my nME IA Pritesh and i am <br/> studying at iit bhu</p></center></p>
</body>
</html>