{% extends "base.html" %}
{% block title %}
Homepage 
{% endblock %}

{% block content %}


      <div class="col s12 m8 l8"> <!-- Note that "m8 l9" was added -->
        <!-- Teal page content

              This content will be:
          9-columns-wide on large screens,
          8-columns-wide on medium screens,
          12-columns-wide on small screens  -->
		<div class="card">
       <div class="card-content">
       <span class="card-title activator grey-text text-darken-4"><div class="row">
      <div class="col s12 m12 l12">
        <div class="card-panel teal">
          <span class="white-text"><b><h3>Computer Science Department</h3></b>
          </span>
        </div>
      </div>
    </div></span>
	   
	   <div class="float-text"><span>
		 <h5>The Department of Computer Engineering was established in July 1983. The department offers a  4 year course, B.Tech. in Computer Sc. & Engineering,
		     5 year Integrated Dual Degree (B.Tech. and M.Tech.) in Computer  Sc. & Engineering from 2005-2006, and Ph.D. degree in various specializations of
			 Computer Sc. and Engineering. Computer Sc. & Engineering is the most sought-after branch for the JEE selected students that come to the Institute. 
			 Our graduates have distinguished themselves in higher studies at the top Universities. They also occupy positions of eminence in the computer industry. 
			 Our Alumni remain in constant touch with us and are contributing in the development of the department. Placements for our graduates are the best in the
			 Institute. The faculty members of the department have  international experience and training. The departmental research is focused in the areas of 
			 Artificial Intelligence, Neuro Computing, Parallel Processing,Software Engineering, Image Processing and Computer Vision, Medical Image Processing, Pattern
			 Recognition, Datamining and Webmining, Biometrics, semantic web, Natural Language Processing (NLP), Machine Learning, and Information Extraction. Besides plan funding,
			 the Department attracts financial inputs through externally funded projects and alumni donations. The department was selected by the Ministry of Communications and
			 Information Technology as a node in the National endeavor on Technology Development for Indian Languages. The department has all the facilities to carry out the 
			 related teaching and research work.</h5>
             </br></br></br></br></br></br>
			</div>
      </div>
      </div>
      </div>
	  <div class="col s12 m4 l2"> <!-- Note that "m8 l9" was added -->
		<h5 class="center" ><b>LATEST NEWS</b></h5><ul>
        <div class="card-panel teal">
        {% for x in news%}
          <span class="white-text"><li><strong>{{ x.title }}</strong>
          {{ x.text }}
          <br/>
          Posted on {{ x.date }}
          </li>
          </span>
		  <div class="divider"></div>
		{% endfor %}
		  
        </div></ul>
		
		<h5 class="center" ><b>Ongoing Project</b></h5><ul>
        <div class="card-panel teal">
          <span class="white-text"><li>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.</li>
          </span>
		  <div class="divider"></div>
		  <span class="white-text"><li>I am a very simple card. I am good at containing small bits of information.
          I am convenient because I require little markup to use effectively. I am similar to what is called a panel in other frameworks.</li>
          </span>		  
        </div></ul>
		
		
      </div>

    </div>
    {% endblock %}
      