
 {% extends "base.html" %}
{% block title%}
Labs
{% endblock %}

{% block content %}

<div class="col s12 m8 l8">
		<h3>Department Laboratories: </h3><br>
		<h5>Undergraduate Lab -I (UG LAB-I):</h5>
		<p>General purpose undergraduate lab equipped with approx. 50 PCs and 03 Nos. Dell Servers with necessary software support.</p><br>
		<img src="/static/images/uglab12.jpg" alt="HTML5 Icon" style="width:90%;height:90%;">
		<h5>Undergraduate Lab-II (UG LAB-II):</h5>
		<p>General purpose undergraduate lab equipped with hardware, microprocessor kits and PCs with required software.</p><br>
		<img src="/static/images/uglab2.jpg" alt="HTML5 Icon" style="width:90%;height:90%;">
		<h5>Computing and Vision Lab</h5>
		<p>Following Specialized Equipment and software are available in Computing and Vision Lab:</p>
		<ol>
		<li>Server-01 No.<br>
(Dell Poweredge Tower Server: Intel Xeon E3-1225V2 (3.2 GHz/8 MB Cache), 16 GB RAM DDR3 1600 MHz UDIMM (32 GB, Support), 1 TB SATA HDD 7200 RPM (4 HDD Support)+Accessories).</li>
<br><li>Workstation-01 No.<br>
(Dell Precision T 7810 Tower Workstation: Dual Intel Xeon Processor E5-2630 V3, ( 8 Core , 20 MB Cache, 2.4 GHz Turbo), 32GB (4X8GB) 2133 MHz DDR4 ECC RDIMM, 1X2 TB 3.5 inch Serial ATA (7200 RPM) Hard Drive, 8x Slim line DVD+/-RW Drive, P2414 H 23.8 inch Wide Screen Monitor with LED back light, Nvidia Quadpro K420 1 GB Graphic Adaptor+ Accessories)</li>
<br><li>PCs with internet connectivity to all-40 Nos.</li>
<br><li>MATLAB SERVER-01 No.</li>
<br><li> Printers, scanners, UPS (5KVA) and other related accessories.</li>
<br><li>Machine Vision Equipment:<br>
Benchmark High Speed Imaging System: Vision Processor, Industrial Cameras, Imaging Computer, Imaging Library and Analysis software, Lens Kit, Zoom Lens, Copy/Camera Stand, Lighting.</li>
<br><li>Software Available:<br>
MATLAB 2014, OriginLab, Visual Basic 2010,  Statistica, Image Pro Software, C/C++ Compilers, Java,
Acrobat Professional , MS Office, EndNote and other open source software packages such as OpenCV, OpenGL etc.</li>
</ol>
<img src="/static/images/computinglab.jpg" alt="HTML5 Icon" style="width:90%;height:90%;">
<h5>Operating Systems and Networking Lab:</h5>
<p>Equipped with around 35 PCs with necessary software, Real Time Packet Analyser, and LAN/WAN Trainer</p><br>
<img src="/static/images/oslab2.jpg" alt="HTML5 Icon" style="width:90%;height:90%;">
<h5>Microprocessors Lab:</h5>
<p>The Microprocessors Lab is primarily for practical courses on Microprocessors and Advanced Microprocessors. 
The lab is equipped with  trainer kits of 8085, 8088, 8086 and related Hardware and Software.</p><br>
<h5>Artificial Intelligence and Vision Lab:</h5>
<p>Equipped with Altix-450 Server along with all necessary computing facilities.</p><br>
<h5>Intelligent Computing/Robotics Lab</h5>
<p>Equipped with modern intelligent computing Hardware and Software.</p><br>
</div>
		
		

	  


		
            
      </div>
{% endblock %}
		

	  


		
            
      

    
      
        
       