 <!DOCTYPE html>
  <html>
    <head>
      <!--Import Google Icon Font-->
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <!--Import materialize.css-->
      <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>

      <!--Let browser know website is optimized for mobile-->
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    </head>

    
	<body>
<header><h1>INDIAN INSTITUTE OF TECHNOLOGY (BHU),VARANASI </h1></header>
</br>
<marquee>welcome to academic session 2016-2017</marquee>
</br></br>
<nav id="left"><h3>The Academic Courses For Year 2016-2017</h3>
</br>
<ul>
 <li><h4><a href="#"> sem1</a></h4></li>
<li><h4><a href="#"> sem2</a></h4></li>
<li><h4><a href="#"> sem3</a></h4></li>
<li><h4><a href="#"> sem4</a></h4></li>
<li><h4><a href="#"> sem5</a></h4></li>
<li><h4><a href="#"> sem6</a></h4></li>
<li><h4><a href="#"> sem7</a></h4></li>
<li><h4><a href="#"> sem8</a></h4></li>
</nav>
<nav id="right"><h3>The Academic Courses For Year 2016-2017</h3>
</br>
<ul>
 <li><h4><a href="#"> sem1</a></h4></li>
<li><h4><a href="#"> sem2</a></h4></li>
<li><h4><a href="#"> sem3</a></h4></li>
<li><h4><a href="#"> sem4</a></h4></li>
<li><h4><a href="#"> sem5</a></h4></li>
<li><h4><a href="#"> sem6</a></h4></li>
<li><h4><a href="#"> sem7</a></h4></li>
<li><h4><a href="#"> sem8</a></h4></li>
</nav>
<article>
  <center><img src="20160102_204738.JPG" alt="pritsh image" width="500pi" border="2"/></center>
   The Indian Institute of Technology was established in ----
   it is blah blah blah.....
   
   </article>
<footer>copyright IITBHU</footer>
 <div class="col s12 m2">
      <p class="z-depth-1">z-depth-1</p>
    </div>
    <div class="col s12 m2">
      <p class="z-depth-2">z-depth-2</p>
    </div>
    <div class="col s12 m2">
      <p class="z-depth-3">z-depth-3</p>
    </div>
    <div class="col s12 m2">
      <p class="z-depth-4">z-depth-4</p>
    </div>
    <div class="col s12 m2">
      <p class="z-depth-5">z-depth-5</p>
    </div>
      <!--Import jQuery before materialize.js-->
	  <a class="waves-effect waves-light btn">button</a>
	<a class="waves-effect waves-light btn"><i class="material-icons left">cloud</i>button</a>
	<a class="waves-effect waves-light btn"><i class="material-icons right">cloud</i>button</a>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script type="text/javascript" src="js/materialize.min.js"></script>
    </body>
  </html>