{% extends "base.html" %}
{% block title%}
Research
{% endblock %}

{% block content %}
      <div class="col s12 m9 l9"> <!-- Note that "m8 l9" was added -->
	  <ul class="collapsible popout" data-collapsible="accordion">
	  <br><h5 class="center">Projects:</h5><br>
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Research Grants/ Projects</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="year">Year</th>
              <th data-field="project">Project</th>
              <th data-field="sponsor">Sponsoring Agency</th>
			  <th data-field="principal">Principal Investigator</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>Apr 95 - Mar 98</td>
            <td>Integrated Computer Aided Diagnosis Project</td>
            <td>AICTE Thrust Area Scheme. 
(Rs. 7.70 lacs)</td>
			<td>Dr. K.K Shukla</td>
          </tr>
          <tr>
            <td>1998-2000</td>
            <td>Advance Computer Architecture & Networking</td>
            <td>AICTE(MODROB)
(Rs 9.00 Lacs)</td>
			<td>Dr. A.K Tripathi</td>
          </tr>
          <tr>
            <td>1998-2000</td>
            <td>Design of Intelligent Computing Systems & its Applications</td>
            <td>AICTE (TAPTEC)
(Rs 9.50 Lacs)</td>
			<td>Dr. R.B Mishra</td>
          </tr>
		  <tr>
            <td></td>
            <td>Fuzzy Systems</td>
            <td>UGC ( Rs 0.45 Lacs)</td>
			<td>Dr. Y.P Singh</td>
          </tr>
		  <tr>
            <td></td>
            <td>Software Engineering</td>
            <td>UGC ( Rs 0.45 Lacs)</td>
			<td>Dr. Y.P Singh</td>
          </tr>
		  <tr>
            <td>Mar 99- Mar 01</td>
            <td>Neural Network Application To Machine Vision</td>
            <td>AICTE project 
(Rs. 10.00 lacs)</td>
			<td>Dr. K.K Shukla</td>
          </tr>
		  <tr>
            <td>July 02 -2005
(3 years)</td>
            <td>Malaviya Center for Information Technology Localization</td>
            <td>Dept. of Information Technology, Ministry of Communication & Information Technology 
(Rs. 1Crore)</td>
			<td>Dr. K.K Shukla</td>
          </tr>
        </tbody>
      </table>
	  </div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>NMEICT, MHRD Projects</div>
      <div class="collapsible-body">
        <table class="responsive-table">
        <thead>
          <tr>
              <th data-field="year">Year</th>
              <th data-field="project">Project</th>
              <th data-field="sponsor">Sponsoring Agency</th>
			  <th data-field="principal">Principal Investigator</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>April 2010- July 2014</td>
            <td>Design and Development of interactive E-content for the subject Digital Image Processing and Machine Vision  <br><br>Web link to project site:     <a href="http://www.iitbhu.ac.in/cse/index.php/ProjectRS/index.html">NMEICT E-Contents</a> 
</td>
            <td>MHRD,
New Delhi
(Rs. 06.50 Lacs)</td>
			<td>Dr. Rajeev Srivastava</td>
          </tr>
          <tr>
            <td>April 2010- July 2014</td>
            <td>E-content for Video Processing</td>
            <td>MHRD,
New Delhi
(Rs. 09.50 Lacs)</td>
			<td>Dr. S.K. Singh</td>
          </tr>
          <tr>
            <td>April 2010- July 2014</td>
            <td>E-content for High Performance Computing</td>
            <td>MHRD,
New Delhi
(Rs. 04.75 Lacs)</td>
			<td>Dr. R.S.Singh</td>
          </tr>
        </tbody>
      </table>
	  </div>
    </li>
	  <br><h5 class="center">Ph.D. Research Guidance:</h5><br>
	  <ul class="collapsible popout" data-collapsible="accordion">
	  	<li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Research Areas: </div>
      <div class="collapsible-body" >
	  <p><b>The Department faculty members are working in following research areas/specializations:</b></p>
	  <pre>	Artificial Intelligence, Neural Networks
	Database System, Data Mining, Web Mining, Social Networks
	Parallel/Distributed Computing  
	Software Engineering, Software Reengineering
	Multiagent Systems, Semantic Web, Robotics
	Image Processing, Computer Vision, Biomedical Imaging
	Biometrics, Pattern Classification, Video Processing
	Computational Aspects of Bioinformatics Algorithms
	Design and Analysis of Algorithms
	High Performance Computing
	E-Learning Technologies
	Information Extraction, Text Summarization
	Natural Language Processing
	Information Retrieval
	Computational Liguistics
	and other related areas and its applications.
</pre>
<br>
      </div>
	  </li>
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Prof. K.K Shukla</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
          <tr>
            <td>2.</td>
            <td>Dr. Arvind Kr. Tiwari</td>
            <td>New Implementation Techniques of DWT and their Applications to Signal Denoising & Classification</td>
			<td>AWARDED</td>
          </tr>
          <tr>
            <td>3.</td>
            <td>Dr. P. Roychowdhury</td>
            <td>New Tunneling Based Learning Algorithms For Neural Nets</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>4.</td>
            <td>Dr. Amitabh Wahi</td>
            <td>Neural Network And Fuzzy Logic Applications in Some Classification Problems</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>5.</td>
            <td>Dr. Arvind Shrivastava</td>
            <td>Application of Artificial Neural Network in Gas/Odor Identification Using Sensor Array</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>6.</td>
            <td>Dr. S. P. Sisodia</td>
            <td>Neural Network Techniques with a Special Reference to Digital System Testing</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>7.</td>
            <td>Dr. P. K. Singh</td>
            <td>Intelligent Heating Schedule Controller for SC Furnace (ISM)</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>8.</td>
            <td>Dr. B. R. K. Rao</td>
            <td>On New Learning Techniques in Radial Basis Function Neural Networks and Their Applications</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>9.</td>
            <td>Dr. R.R.Das</td>
            <td>Neuro-Fuzzy Classifiers for Identification of Gases / Odours</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>10.</td>
            <td>Dr.Pranab Kr. Muhuri</td>
            <td>Task Scheduling in Real Time Systems with Fuzzy Uncertainty in Deadlines and Processing Times</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>11.</td>
            <td>Dr. Sandeep Agrawal</td>
            <td>Intelligent Scheduling in Real Time Systems</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>12.</td>
            <td>Dr. Bhaskar Biswas</td>
            <td>Web Mining</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>13.</td>
            <td>Dr. Abhigyan Dwivedi</td>
            <td>Nominal Phrase in Sanskrit and English - A Machine Translation Algorithm</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>14.</td>
            <td>Dr. Mohanchur Sarkar</td>
            <td>Performance Enhancement Algorithms for Satellite Interactive Network</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>15.</td>
            <td>Dr. Bharavi Mishra</td>
            <td>Data-mining Techniques in Software Engineering</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>16.</td>
            <td>Dr. (Ms.) Mousumi Dhara</td>
            <td>Algorithms for Mining Graphs and Sequences</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>17.</td>
            <td>Dr. (Ms.) Madhushi Verma</td>
            <td>Heuristic Algorithms for Graphs</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>18.</td>
            <td>Mr. Jayadeep Pati</td>
            <td>Software Quality Modeling</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>19.</td>
            <td>Mr. R.C. Pandey</td>
            <td>Video Authentication</td>
			<td>AWARDED</td>
          </tr>
		  <tr>
            <td>20.</td>
            <td>Ms. Mridula Verma</td>
            <td>Large Scale Machine Learning</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	<li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Prof. A.K Tripathi</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Prof. R.B. Mishra</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Prof. Rajeev Srivastava</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Dr. Vinayak Srivastava, Asst. Professor</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Dr. Bhaskar Biswas, Asst. Professor</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>Supervisor: Dr. R.S. Singh, Asst. Professor</div>
      <div class="collapsible-body">
	  <table class="responsive-table" >
        <thead>
          <tr>
              <th data-field="serial">S.no.</th>
              <th data-field="name">Name</th>
              <th data-field="title">Title of the Thesis/ Topics of Research</th>
			  <th data-field="status">Status</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td>1.</td>
            <td>Dr. M. V. N. K. Prasad</td>
            <td>Domain Decomposition Based Image Compression</td>
			<td>AWARDED</td>
          </tr>
        </tbody>
      </table>
	  </div>
	  </li>
	  
	  </div>
	  </div>
    {% endblock %}
      
     